global
        log 127.0.0.1     local0
        log 127.0.0.1     local1 notice
        maxconn 4096
        pidfile ~/tmp/haproxy-riakcs-queue.pid

defaults
        log               global
        option            dontlognull
        option            redispatch
        option            allbackups
        maxconn           256000
        timeout connect   5000
        retries           3
        maxconn           256000
        timeout connect   5000
        timeout client    5000
        timeout server    5000

backend riak_cs_rest_backend
       mode               http
       balance            roundrobin
       option             httpchk GET /riak-cs/ping 
       option             httplog
       server riak1 127.0.0.1:18080 weight 1 maxconn 1024  check
       server riak2 127.0.0.1:28080 weight 1 maxconn 1024  check
       server riak3 127.0.0.1:38080 weight 1 maxconn 1024  check

frontend riak_cs_rest
       bind               127.0.0.1:8080
       mode               http
       option             contstats
       default_backend    riak_cs_rest_backend

backend riak_rest_backend
       mode               http
       balance            roundrobin
       option             httpchk GET /ping
       option             httplog
       server riak1 127.0.0.1:18098 weight 1 maxconn 1024  check
       server riak2 127.0.0.1:28098 weight 1 maxconn 1024  check
       server riak3 127.0.0.1:38098 weight 1 maxconn 1024  check

frontend riak_rest
       bind               127.0.0.1:8098
       mode               http
       option             contstats
       default_backend    riak_rest_backend

# backend riak_protocol_buffer_backend
#        balance            leastconn
#        mode               tcp
#        option             tcpka
#        option             srvtcpka
#        server riak1 127.0.0.1:18087 weight 1 maxconn 1024  check
#        server riak2 127.0.0.1:28087 weight 1 maxconn 1024  check
#        server riak3 127.0.0.1:38087 weight 1 maxconn 1024  check
# 
# frontend riak_protocol_buffer
#        bind               127.0.0.1:8087
#        mode               tcp
#        option             tcplog
#        option             contstats
#        mode               tcp
#        option             tcpka
#        option             srvtcpka
#        default_backend    riak_protocol_buffer_backend
